<!doctype html>
<html lang="en">
  <head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Подборка книг</title>
  </head>
  <body>
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
      <div class="border border-dark rounded-lg">
        <div class="card text-center">
          <div class="card-body">
            <H1>Подборка книг c сайта <a href='https://www.tululu.org/' class="badge badge-primary">www.tululu.org</a></H1>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center mt-3">
          {% if current_page==1 %}
            <li class="page-item disabled">
              <a class="page-link" href="#">⛔</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href='index{{current_page-1}}.html'>Предыдущая</a>
            </li>
          {% endif %}
          {% for page in range(0, number_pages) %}
            {% if page+1==current_page %}
              <li class="page-item active" aria-current="page">
                <div class="page-link">{{current_page}}
                  <span class="sr-only">(current)</span>
                </div>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href='index{{page+1}}.html'>{{page+1}}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page==number_pages %}
            <li class="page-item disabled">
              <a class="page-link" href="#">⛔</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href='index{{current_page+1}}.html'>Следующая</a>
            </li>
          {% endif %}
        </ul>
      </nav>
<!--      <div class="card mb-3" style="max-width: max-heigh;">-->
      <div class="card mb-3">
        <div class="container-fluid">
          <div class="row align-items-center">
          {% for book_column in books %}
            {% for book in book_column %}
            <div class="col">
              <div class="border border-info">
                <div class="col-md-4 mx-auto">
                  <p class="card-text top-name center-block"><img src='../{{book.img_path|urlencode}}' class="card-img rounded-left" alt='{{book.genre}}'></p>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-header"><b>{{book.title}}</b></h2>
                      <p class="card-text">{{book.author}}</p>
                        <p></p>
                      <p class="card-text" ><span class="badge badge-secondary">{{book.genre}}</span></p>
                        <p></p>
                      <p><a href='../{{book.book_path|urlencode}}' target="_blank">Читать </a> книгу</p>
                        <p></p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="w-100"></div>
          {% endfor %}
          </div>
        </div>
      </div>
  </body>
</html>
